    fieldset {
        background-color: lightyellow;
        margin-bottom: 10px;
        border: 10px solid yellow;
        width: 720px;
    }
    
    body {
        width: 720px;
        margin: auto;
    }
    
    div textarea {
        text-align: right top=p;
        width: 360px;
        height: 50px;
    }
    
    div label {
        width: 180px;
        text-align: right;
        display: inline-block;
    }
    
    label,
    input,
    textarea {
        transition: width 500ms, height 500ms, transform 500ms;
    }
    
    label:hover,
    input:hover {
        transform: scale(1, 2);
    }